"tracks": {
"data": [
{
"id": "-pIN8I1hzoZVrG5NLW",
"name": "KICK BACK",
"duration": 193515,
"isrc": "JPU902203702",
"url": "https://www.kkbox.com/tw/tc/song/-pIN8I1
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "_XOIwdBW4bYZvmlmWI",
"name": "KICK BACK (KICK BACK)",
"url": "https://www.kkbox.com/tw/tc/album/_XOI
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2022-10-12",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1968
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1968
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1968
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "Gl0SSwbJylVNHBg1G9",
"name": "Lemon",
"duration": 255843,
"isrc": "JPU901800227",
"url": "https://www.kkbox.com/tw/tc/song/Gl0SSwb
"track_number": 8,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "4kUU08ZXF4KmWQhM86",
"name": "STRAY SHEEP (STRAY SHEEP)",
"url": "https://www.kkbox.com/tw/tc/album/4kUU
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2020-08-05",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8301
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "PYM6UWgSNHxJvSXdpL",
"name": "M八七",
"duration": 263174,
"isrc": "JPU902201227",
"url": "https://www.kkbox.com/tw/tc/song/PYM6UWg
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "OloSnqzpCCud8NJY-k",
"name": "M八七 (M87)",
"url": "https://www.kkbox.com/tw/tc/album/OloS
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2022-05-13",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1700
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1700
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1700
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "TaBM9PqnNCtw9JWaFh",
"name": "打上花火",
"duration": 289332,
"isrc": "JPTF01710201",
"url": "https://www.kkbox.com/tw/tc/song/TaBM9Pq
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "9_bGJW1drjpYaK-BZO",
"name": "打上花火",
"url": "https://www.kkbox.com/tw/tc/album/9_bG
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2017-08-16",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/2167
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/2167
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/2167
}
],
"artist": {
"id": "KlgIq4Yxd1n-AE6FIO",
"name": "DAOKO",
"url": "https://www.kkbox.com/tw/tc/artist/K
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/7
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/7
}
]
}
}
},
{
"id": "LYz10YUUB5NiqRTqD8",
"name": "LOSER",
"duration": 245237,
"isrc": "JPU901602597",
"url": "https://www.kkbox.com/tw/tc/song/LYz10YU
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "L-kU7xwVKwYNr3eDnS",
"name": "LOSER / ナンバーナイン (LOSER / NUMBE
"url": "https://www.kkbox.com/tw/tc/album/L-kU
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2016-09-28",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8302
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "GmkWTgeD7q4F4vK3kN",
"name": "灰色と青 ( + 菅田将暉 )",
"duration": 332146,
"isrc": "JPU901702924",
"url": "https://www.kkbox.com/tw/tc/song/GmkWTge
"track_number": 14,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "OpWEtQNAB1A8_Lp8ak",
"name": "BOOTLEG (BOOTLEG)",
"url": "https://www.kkbox.com/tw/tc/album/OpWE
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2017-11-01",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8302
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "P_ocURFKadNrh3zGBp",
"name": "POP SONG",
"duration": 199209,
"isrc": "JPU902200194",
"url": "https://www.kkbox.com/tw/tc/song/P_ocURF
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "TYvORVyfOR7QiO7RtY",
"name": "POP SONG (POP SONG)",
"url": "https://www.kkbox.com/tw/tc/album/TYvO
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2022-02-07",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1550
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1550
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1550
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "Cs_XOi7d3ZiY3N-8lZ",
"name": "打上花火",
"duration": 259395,
"isrc": "JPU901702923",
"url": "https://www.kkbox.com/tw/tc/song/Cs_XOi7
"track_number": 13,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "OpWEtQNAB1A8_Lp8ak",
"name": "BOOTLEG (BOOTLEG)",
"url": "https://www.kkbox.com/tw/tc/album/OpWE
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2017-11-01",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8302
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "HamlOuN1E8K3Y617Ab",
"name": "感電",
"duration": 264542,
"isrc": "JPU902001053",
"url": "https://www.kkbox.com/tw/tc/song/HamlOuN
"track_number": 3,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "4kUU08ZXF4KmWQhM86",
"name": "STRAY SHEEP (STRAY SHEEP)",
"url": "https://www.kkbox.com/tw/tc/album/4kUU
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2020-08-05",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8301
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "OofHuX2a32Aqar88ft",
"name": "死神",
"duration": 180715,
"isrc": "JPU902101134",
"url": "https://www.kkbox.com/tw/tc/song/OofHuX2
"track_number": 3,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "GsCSE56DG1L3EX2Xgs",
"name": "Pale Blue (Pale Blue)",
"url": "https://www.kkbox.com/tw/tc/album/GsCS
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2021-06-16",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1204
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1204
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1204
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "PYm9XblSNHxJuR1FY7",
"name": "Pale Blue",
"duration": 296568,
"isrc": "JPU902101078",
"url": "https://www.kkbox.com/tw/tc/song/PYm9Xbl
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "HXC2CuO8Rr3eOjwTpv",
"name": "Pale Blue (Pale Blue)",
"url": "https://www.kkbox.com/tw/tc/album/HXC2
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2021-05-31",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1204
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1204
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1204
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "8tR4N3XDsnPsHjtkrO",
"name": "馬と鹿",
"duration": 265380,
"isrc": "JPU901902002",
"url": "https://www.kkbox.com/tw/tc/song/8tR4N3X
"track_number": 6,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "4kUU08ZXF4KmWQhM86",
"name": "STRAY SHEEP (STRAY SHEEP)",
"url": "https://www.kkbox.com/tw/tc/album/4kUU
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2020-08-05",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8301
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8301
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "GrY0SOfik9ZkxqA_Tm",
"name": "ピースサイン",
"duration": 237296,
"isrc": "JPU901701672",
"url": "https://www.kkbox.com/tw/tc/song/GrY0SOf
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "P_BIeofeKjgS7NSzzS",
"name": "ピースサイン (Peace Sign)",
"url": "https://www.kkbox.com/tw/tc/album/P_BI
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2017-06-21",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/8302
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/8302
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "HY2jGtOYzKb7ejEgvK",
"name": "海之幽靈",
"duration": 237191,
"isrc": "JPU901901328",
"url": "https://www.kkbox.com/tw/tc/song/HY2jGtO
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY"
],
"album": {
"id": "HYPwLlmQU1EtWj_izq",
"name": "海之幽靈 (Spirits of the Sea)",
"url": "https://www.kkbox.com/tw/tc/album/HYPw
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY"
],
"release_date": "2019-06-03",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/5555
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/5555
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/5555
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
},
{
"id": "5YMyi5-3hYuu2Mp0Ss",
"name": "ゆめうつつ",
"duration": 304718,
"isrc": "JPU902101133",
"url": "https://www.kkbox.com/tw/tc/song/5YMyi5-
"track_number": 1,
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"album": {
"id": "-s8LROU1s6mutQv8yu",
"name": "ゆめうつつ (Daydream)",
"url": "https://www.kkbox.com/tw/tc/album/-s8L
"explicitness": false,
"available_territories": [
"TW",
"HK",
"SG",
"MY",
"JP"
],
"release_date": "2021-06-16",
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/album/global/1216
},
{
"height": 500,
"width": 500,
"url": "https://i.kfs.io/album/global/1216
},
{
"height": 1000,
"width": 1000,
"url": "https://i.kfs.io/album/global/1216
}
],
"artist": {
"id": "8oRs6ttmEEYzg2nyTU",
"name": "米津玄師 (Kenshi Yonezu)",
"url": "https://www.kkbox.com/tw/tc/artist/8
"images": [
{
"height": 160,
"width": 160,
"url": "https://i.kfs.io/artist/global/6
},
{
"height": 300,
"width": 300,
"url": "https://i.kfs.io/artist/global/6
}
]
}
}
}
],
"paging": {
"offset": 0,
"limit": 15,
"previous": null,
"next": "https://api.kkbox.com/v1.1/search?q=%E7%BW&type=track&offset=15&limit=15"
},
"summary": {
"total": 500
}
},
"paging": {
"offset": 0,
"limit": 15,
"previous": null,
"next": "https://api.kkbox.com/v1.1/search?q=%E7%B1%type=track&offset=15&limit=15"
},
"summary": {
"total": 500
}
}